<body>
    <div>
        <button type="button" class="btn btn-primary centered1 labelfont3 btn1">상품등록</button>
    </div>
    <div>
        <button type="button" class="btn btn-primary centered2 labelfont3 btn1">수정/조회</button>
    </div>
    <div>
        <button type="button" class="btn btn-primary centered3 labelfont3 btn1">가이드라인</button>
    </div>
</body>

<style>

body {
    background-image: url("/assets/mainimage.png");
    background-size: cover;
    background-repeat: no-repeat;
}

</style>




