@import 'bootstrap';

.options {
    display: none;
}

.opt_btn {
    display: none;
    border: 2px solid;
    width:70px;
    height: 40px;
}

.dlv_box {
    display: none;
}

.ctgr {
    display: none;
}

.confirm {
    margin-top: 17em;
}

.confirmitem {
    margin-top: 3em;
}
.cf_item {
    display: inline;
    margin: -3px;
    background-color: #fff;
    color: #445b84;
    border-radius: 0%;
    border: solid 1px lightgrey;
    transition: 0s
}
.cf_item:hover {
    background-color: #445b84;
    color: #ffffff;
}

.list {
    margin-top: 3em;
    margin-bottom: 1.5em;
}

a.prdlink {
    text-decoration: none;
    color: black;
}

table tr {
    max-height: 200px;
    overflow: hidden;
}