@import 'bootstrap';

.options {
    display: none;
}

.opt_btn {
    display: none;
    border: 2px solid;
    width:70px;
    height: 40px;
}

.dlv_box {
    display: none;
}

.ctgr {
    display: none;
}

.navbar {
    display:block;
}

.swiper-container {
    width: 1024px;
    height: 628px;
}

.logo {
    width: 3rem;
    height: 3rem;
}

.hh {
    text-align: center;
}